.contact {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  &--block {
    color: #F4edea;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  &--title {
    color: #FF3C38;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    height: 80px;
    margin-bottom: 50px;

    @media screen and (max-width: 950px){
      font-size: 3rem;
      height: 130px;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .transition-item {
    color: #353434;
    opacity: 0;
    font-size: 50px;
  }

  &--underline {
    height: 5px;
    width: 25%;
    transition: all 0.5s ease-in-out;
    background: #FF3C38;
    margin: 0 auto;

    &.true {
      width: 75%;
      @media screen and (max-width: 950px){
        width: 50%;

      }
    }
  }

  &--icons {
    font-size: 5em;
    color: #353434;
  }

  &--link {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 45px;
      width: 30px;
    }
  }

  &--email {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 30px;
      width: 45px;
    }
  }

  &--address {
    font-size: 16px;
  }
}